:root {
  --darkpink: #a40e4c;
  --purple: #2c2c54;
  --green: #acc3a6;
  --cream: #faf2ec;
  --orange: #f49d6e;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  color: var(--purple);
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  color: var(--purple);
  background-color: var(--green);
}

header div.logo-wrapper {
  display: block;
  height: 100%;
  overflow: hidden;
}

header img.logo {
  display: block;
  max-width: auto;
  max-height: 60%;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
}

.hero .left {
  margin-right: 8rem;
}

.hero .left h1 {
  font-size: 4rem;
  margin-top: 0;
}

.hero .left p {
  font-size: 1.5rem;
}

.hero .right {
}

.hero .right video {
  width: 100%;
}

.background {
  background-color: var(--cream);
}

.backgroundtwo {
  background-color: var(--green)
}

.backgroundthree {
  background-color: var(--orange)
}

#mobile-nav {
  display: none;
}

.hamburger {
  border: 0;
  background-color: transparent;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  header {
    height: 80px;
    padding-right: 1rem;
  }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  #right {
    display: none;
  }
}
